@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1> Hello from Nikhil</h1>
    <p> This is a very first ASP.Net core web Application, we used command line to create the app, we used VS core to make changes, build and host</p>
    <p> We got everything free of cost </p>
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
